/*  */
/* Roboto Font Family */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

:root{
    --bg-color: #fafafa;
    --primary-color: #333333;
    --secondary-color: #38B9F4;
    --tertiary-color: #888888;
}

/* Main Section Styling */
.main_section{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}


/* End of CSS */