/*  */
/* Roboto Font Family */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

:root{
    --bg-color: #FFFFFF;
    --primary-color: #333333;
    --secondary-color: #38B9F4;
    --tertiary-color: #FFFFFF;
}

/* Global Button Styling */
.btn{
    height: 38px;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    outline: none;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
}

/* Main Section Styling */
.main_section{
    width: 100%;
    height: auto;
    background: var(--bg-color);
    overflow: hidden;
    padding: 20px 100px;
}

/* Navbar Styling */
nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Nav Logo Section */
.logo_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_section img{
    width: 200px;
    height: 5vh;
}

/* Button Section Styling */
.btn_section{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.share_btn{
    width: 140px;
}
.download_btn{
    width: 170px;
}

/* Landing Page Section Styling */
.landing_page_section{
    width: 100%;
    height: auto;
}

/* Carousel Section */
.swiper{
    width: 100%;
    height: 55vh;
    border-radius: 6px;
    margin-bottom: 2.625rem;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Results Section */
.result_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.result_tile{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.875rem;
    color: var(--secondary-color);
    margin-bottom: 2.938rem;
}
.result_data_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.75rem;
}
.result_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result_counter{
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.125rem;
    color: var(--secondary-color);
}
.result_data_title{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.125;
    color: var(--primary-color);
}



/* End of CSS */